.nav.tabs>li>a {
color:white;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: transparent;
}

#cssmenu .glyphicon{
	font-size: 13px;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.container {
    margin-top: 10px;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
nav{
	padding:  0 .7em;
}
.jumbotron{
	margin-top: 100px;
	background-color: rgba(238,238,238,0.7);
}
.alert{
   font-weight: bold;
   width : 50%;
   margin-top: 50px;
   position:  fixed;  
   margin-left: 20%;
}
.glyphicon:hover{
    color :blue;
    cursor: pointer;
}

.tab-panels{
   display: none;
}

.default,.default:hover{
  color : gray;
  cursor: default; 
}

#subscription_data{
  display: none;
  font-size: 20px;
}

#subscriber_table tbody tr:first-child td.actions .glyphicon-trash,#subscriber_table tbody tr:first-child td.actions .glyphicon-edit,#subscriber_table tbody tr:first-child td.actions .glyphicon-trash:hover, #subscriber_table tbody tr:first-child td.actions.glyphicon-edit:hover{
  color: grey;
  cursor: default;
};

.linkto{
  font-size: 1000px;
}


#service_table tbody tr:first-child td.actions .glyphicon-trash,#service_table tbody tr:first-child td.actions .glyphicon-edit,#service_table tbody tr:first-child td.actions .glyphicon-trash:hover, #service_table tbody tr:first-child td.actions.glyphicon-edit:hover{
  color: grey;
  cursor: default;
};