body{
  top: 0px;
  background: url(../images/bg.png);
  font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
  padding-top: 40px;
}


.tab-panels ul li{
	list-style-type: none;
	display: inline-block;
	background: rgba(82,94,141,0.4);
	margin : 0;
	padding: 3px 10px;	
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
}
.tab-panels ul{
	margin: 0;
	padding: 0;
}
.tab-panels ul li:hover{/*
	color:#fff;
	background: rgba(0,0,0,0.6); */
}

.tab-panels ul li.active{
color: #fff;
	background: rgba(0,0,0,0.6);
}

.tab-panels .panel{
	display:none;
 background-color:rgba(255,62,10,0.1);;
	padding: 30px;
	
	width: 560px;
}

.tab-panels .panel.active{
	display: block;
}

#save{
	position:relative;
    bottom: 0;
    right: 0;
}






.alignright { 
  margin-top: -44px;
  float: right; 
  
}
.alignleft { float: left; }

#Hide,#logout
{
  background: #33CCFF;
  color: blue;
}


#username{
  color: #ffffff;
  font-size: 15px;
  font-style: italic;
}
/*header & header buttons*/
#arrow{
  height:2px;
}
.lines {        
    font-size: 2em; 
    padding: .3em;
    
}
.lines:hover {
  cursor: hand;
  transition: .7s ease; 
  color: #006699;
}


.btn {
  display: block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;  
  
}

.sm {
  width: 6%;
  background-color: transparent;
  border: 0px;
}

.ghost {
  background-color: transparent;
  color: #006699;
  font-size: 15px;
 
}
.ghost:hover {
  background-color: #006699;
  color: white;
  transition: .5s ease;
  
}


.right{
  float: right;
}
.header{  
  z-index: 1;
   position: fixed;
   width :100%;
   top: 0px;
   height: 50px;
  background-color: #282828;  
  --webkit-box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.75);
  box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.75); 
}

#logo{
  margin-right: auto;
  margin-left: auto;
  width : 200px;
  padding: .4em;
  padding-top: .8em;
  display: block;

}

/*form css*/

.formcss{ 
  border:2px dashed;
  padding: 20px;
   font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;

}


.formcss .box
{background: transparent url("../images/bg-input-std-left.png") no-repeat scroll right top;
width:100%;
border:5px solid #2676a2;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
 padding: 5px 7px 5px 5px;
}

::-webkit-input-placeholder {
    color: black;   
    font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
}
:-moz-placeholder {
    color: black;    
    font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
}
:-ms-input-placeholder {
    color: black;    
    font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
}
input[type="text"]
{
    color: black;    
    font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
}

.btn2 {  
  
  background: url(../images/gr-yellow.png);
  height: 45px;
  width: 130px;
  margin-top: 5px;
  margin-bottom: 5px;
 
  border:5px solid #2676a2;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  padding: 5px 7px 5px 5px;
  color:  #2676a2;
  font-weight: bolder;
  
  font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;  
}

.btn2:hover {
background: #dad671 ;
cursor: pointer;
}
select
{       
    font-family: "ITCLubalinGraphBook",Rockwell,"Trebuchet MS","Gill Sans",Lucida Grande,Arial,sans-serif;
}
input[type="checkbox"]{
  float: right;   
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*footer*/

.footer {
  position : fixed;
  width : 100%;
  height :  20px;
  top : auto;
  right : 0;
  bottom : 0;
  left : 0;  
  background-color: #333;
  z-index: 1;
}



.footermenu {
  margin-right: 30PX;
  background: #333;  
  height: 120px;
  width: 150px;
  position :fixed;
  bottom: 0px;
  right: 0px;
}

.footermenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footermenu a {
  background: #333;  
  color: #ccc;
  display: block;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: normal;
}

.footermenu li a:hover,
.footermenu li a:active {
  background-color: #006699;
  color: #fff;  
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #000;
background-color: #dad671;
}
/*Alert fading*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.name>a{
  color :black;
  font-size: 15px
};